* {
  margin: 0;
  padding: 0;

  /* використання глобальних змінних стилю */
  color: var(--text-color);
}

ul,
li {
  list-style: none;
}

.menu {
  display: flex;
  margin-top: 15px;

  justify-content: space-between;
}

#root {
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow-x: hidden;

  height: 100%;

  /* використання глобальних змінних стилю */
  background-color: var(--background-color);
  transition: background-color 0.1s linear;
}

.App {
  width: 80%;
}

.post-enter {
  opacity: 0;
  transform: translateX(-1000px);
}

.post-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  opacity: 0;
  transform: translateX(1000px);
  transition: all 500ms ease-in;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 10px;
}

.page {
  margin: 1px;
  padding: 5px 15px;
  border: 1px solid;
  border-color: var(--border-color);
  cursor: pointer;
}

.page:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.current_page {
  border: 1px solid orange;
  font-weight: bold;
}
