.myInput {
  width: 100%;
  margin: 5px 0;
  border: 1px solid;
  /* використання глобальних змінних стилю */
  border-color: var(--border-color);
  font-size: 17px;
  /* використання глобальних змінних стилю */
  background-color: var(--input-background);
  /* використання глобальних змінних стилю */
  color: var(--border-color);
}
